<style>
  :host {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ::ng-deep::-webkit-scrollbar {
    width: 0px;
  }

  ::ng-deep body {
    transition: background 700ms ease;
  }

  ::ng-deep body.dark {
    background: #111827;
  }

  ::ng-deep body {
    background: #e3e6ff44;
  }
</style>

<div id="app">
  <div class="w-full max-w-2xl mx-auto my-12 px-4 lg:px-3">
    <app-layout-header></app-layout-header>
    <router-outlet></router-outlet>
    <app-layout-footer></app-layout-footer>
  </div>
</div>