<div>
    <label class="block text-gray-400 text-xs font-bold mb-1 dark:text-slate-600" for="username">
        {{ inputLabel }}
    </label>
    <input
        class="shadow appearance-none border rounded-lg w-full py-3 px-3 text-gray-700 leading-tight cursor-pointer transition-colors duration-500 focus:outline-none focus:shadow-outline hover:bg-slate-100 dark:bg-slate-700 dark:border-slate-600 dark:text-slate-300"
        autocomplete="off" id="username" type="text" placeholder={{inputLabel}} (input)="handleChange($event)">
</div>